<h2>Contact Form</h2>

<p>
If you wish to send me feedback about the site or get your blog added, please use
the form below. For people wishing to have their blogs added, you must tell me your
blog name, blog url, and blog RSS feed.
</p>

<style>
form {
	padding: 10px;
}
</style>

<form accept-charset="UTF-8" action="https://formkeep.com/f/c42116c7623a" method="POST" id="contactForm">
  <input type="hidden" name="utf8" value="✓">

<label for="name">Name:</label> <input type="text" id="name" name="name" placeholder="Your Name" required><br/>
<label for="email">Email:</label> <input type="email" id="email" name="email" placeholder="Your Email" required>
<label for="comments">Comments:</label>
<textarea id="comments" name="comments" required></textarea>

<p/>

<input type="submit" value="Send Comments">

</form>