<h2>Contact Form</h2>

<p>
If you wish to send me feedback about the site or get your blog added, please 
send me an email at raymondcamden at gmail dot com. Include your blog's name, URL, and RSS URL if
you want me to include your blog.

</p>
