<h2>Frequently Asked Questions</h2>

<p>
<a href="#q2">What blogs do you aggregate?</a><br>
<a href="#q2a">I'm aggregated and proud - can I show off with some fancy button?</a><br>
<a href="#q3">Can you add my blog?</a><br>
<a href="#q3a">Is there a ping service?</a><br>
<a href="#q4">Where is the source?</a><br>
<a href="#q5">What are the RSS options?</a><br>


<a name="q2"></a>
<p>
<b>What blogs do you aggregate?</b><br />
You can see them all on the <a href="/feeds">feeds</a> page.
</p>

<a name="q2a"></a>
<p>
<b>I'm aggregated and proud - can I show off with some fancy button?</b><br />
Yes! <a href="http://www.kylehayes.info/blog/">Kyle Hayes</a> has created two buttons. Please link back to http://www.coldfusionbloggers.org.<br><br/>
<img src="/images/CFb178x41.jpg"><br/>
<img src="/images/CFb88x31.jpg">
</p>

<a name="q3"></a>
<p>
<b>Can you add my blog?</b><br />
Use the <a href="/contact">contact form</a> to send your request.
</p>

<a name="q3a"></a>
<p>
<b>Is there a ping service?</b><br />
Yes. To ping this site, first figure out the <i>exact</i> URL we have on record for your blog. You
can find this on the <a href="feeds/">Feeds</a> page. Then simply set your blog software to ping:
</p>
<p>
http://www.coldfusionbloggers.org/ping.cfm?burl=YOURURL
</p>
<p>
If it worked correctly, you will get an &quot;Ok&quot; response.
</p>

<a name="q4"></a>
<p>
<b>Where is the source?</b><br />
You can download the source <a href="https://github.com/cfjedimaster/ColdFusion-Blog-Aggregator">here</a>. If you use this source, please consider visiting my <a href="http://www.amazon.com/o/registry/2TCL1D08EZEYE">wish list</a>. How
many of you out there were waiting for the first mention of the <a href="http://www.amazon.com/o/registry/2TCL1D08EZEYE">wish list</a>? Well, there it is.
<a href="http://www.amazon.com/o/registry/2TCL1D08EZEYE">Wish list</a> (sorry, one last time)
</p>

<a name="q5"></a>
<p>
<b>What are the RSS options?</b><br />
ColdFusionBloggers.org uses FeedBurner for the main RSS feed. You can find it here: 
<a href="http://feedproxy.google.com/ColdfusionbloggersorgFeed">http://feedproxy.google.com/ColdfusionbloggersorgFeed</a>. 
</p>